:root{
  --colorPrincipal:#53cef1;
  --colorSecundario:#ffffff;
  --colorResalte:#15c0e6;
  --colorTitulaciones:#53cef1;
  --colorOscuro:#0a5fe1;
  --colorFondoCajas:#bcbcbc;
  --colorMasOscuro:#101938;
  --tiempo:15s;
}

@font-face {
  font-family: Teko;
  src: url(../../../fonts/Teko-Regular.ttf);
}
@font-face {
  font-family: Yeseba;
  src: url(../../../fonts/YesevaOne-Regular.ttf);
}
@font-face {
  font-family: Lemonade;
  src: url(../../../fonts/Lemonada-VariableFont_wght.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../../../fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family:DMSans ;
  src: url(../../../fonts/DMSans-Regular.ttf);
}


.service{
  font-size: 62.5%;
  font-family: Oswald;
  font-size: 16px;
  
  width: 100%;
  height: 400px;
  margin: 30px 0rem;
  padding: 0rem 0rem;
  
  box-sizing: border-box;

  display: flex;
  justify-content:center; 
}
.service:last-child{
  margin: 0rem;
}
.service{
  margin: 40px 0rem;
}
.service:first-of-type{
  margin-top: 20px;
}
.service a{
  width: 45%;
  box-sizing: border-box;
}
.service img{
  width: 570px;
  height: 400px;
  border-radius: 20px;
}
.service img:hover{
  box-shadow: 3px 3px 10px var(--colorPrincipal),-3px -3px 10px var(--colorPrincipal);
  transition: 0.5s;
}

.service-info{
  width: 45%;
  height: 100%;
  padding: 20px 40px;
  
  box-sizing: border-box;
}
.service-info p:first-child{
  text-transform: uppercase;
  color: var(--colorSecundario);

  opacity: 0.5;
  font-size: 25px;
}
.service-info h3{
  margin: 0;
  color: var(--colorSecundario);

  font-family: Teko !important;
  font-weight: 800;
  font-size: 60px;
}
.service-info p{
  margin: 0;
  font-size: 20px;
  color: var(--colorSecundario);
}

.service-info button{
  margin-top: 20px;
  padding: 10px;

  background-color: var(--colorOscuro);
  border-radius: 20px;
  border: 1px solid var(--colorSecundario);

  font-size: 17px;
  color: var(--colorSecundario);
}
.service-info button:hover{
  cursor: pointer;
  box-shadow: 2px 2px 10px var(--colorOscuro),-2px -2px 10px var(--colorOscuro);
  transition: 0.5s;
}

.serviceCardMedium{
  height: 220px !important;
  background: rgb(81,201,236);
  background: linear-gradient(54deg, rgba(81,201,236,1) 23%, rgba(10,95,225,1) 100%);
}

.accordionBackground{
  background: rgb(83,206,241);
  background: linear-gradient(160deg, rgba(83,206,241,1) 0%, rgba(81,201,236,1) 39%, rgba(45,104,137,1) 65%, rgba(16,25,56,1) 89%);
}

.accordionBorder{
  border: 0px !important;
}

.accordionRadius{
  border-radius: 0px 0px 4px 4px !important;
}




/* Medias Querys */

@media only screen and (max-width:1200px){
  
  .service{
      margin: 25px 0rem ; /* De 3rem 0rem */
      height: 380px; /* De 40rem */
  }
  .service-info{
      padding: 20px 35px; /* De 2rem 4rem */
  }
  .service-info p:first-child{
      font-size: 23px ; /* De 2.5rem */
  }
  .service-info h3{
      font-size: 55px; /* De 6rem */
  }
  .service-info p{
      font-size: 18px; /* De 2rem */
  }
  .service-info button{
      font-size: 15px; /* De 1.7rem */
      padding: 10px; /* De 1rem */
  }
  .service:first-of-type{
      margin-top: 15px; /* De 2rem */
  }
  .service img{
      width: 470px;
      height: 340px;
  }
}

@media only screen and (max-width:992px){
  .service{
      margin: 3px 0rem ; /* De 3rem 0rem */
      height: 310px; /* De 38rem */
  }
  .service-info{
      padding: 10px 20px; /* De 2rem 2rem */
  }
  .service-info p:first-child{
      font-size: 14px ; /* De 1.8rem */
  }
  .service-info h3{
      font-size: 36px; /* De 4.5rem */
  }
  .service-info p{
      font-size: 14px; /* De 1.4rem */
  }
  .service-info button{
      
      font-size: 14px; /* De 1.1rem */
      padding: 6px; /* De 0.8rem */
  }
  .service:first-of-type{
      margin-top: 10px;
  } 
  .service a{
      width: 370px;
      height: 290px;
  }
  .service img{
      width: 380px;
      height: 290px;
  }
}

@media only screen and (max-width:768px){
  .service img{
      width: 150px;
      height: 290px;
  }
}